django
django-cors-headers
groq
langchain
langchain-community
langchain-groq
langchain-core
faiss-cpu
sentence-transformers
yt-dlp
youtube-transcript-api
python-dotenv
dj-database-url
gunicorn
whitenoise
psycopg2-binary
